@import "variables";
@import "mixin";

$verde1A : #5B7448;
$verde2A : #608A40;
$verde3A : #7CC249;
$verde4A : #A5E775;
$verde5A : #C0E0A9;
$verde1B : #4A544A;
$verde2B : #6EA685;
$verde3B : #ABDFC0;
$verde4B : #D0EADB;

$blancoAIcrop : #F8F7F5;