
// Colores del concept
$verde1A : #5B7448;
$verde2A : #608A40;
$verde3A : #7CC249;
$verde4A : #A5E775;
$verde5A : #C0E0A9;
$verde1B : #4A544A;
$verde2B : #6EA685;
$verde3B : #ABDFC0;
$verde4B : #D0EADB;

// Cosos del figma
$verde6A : #B9D36D;
$verde6B : #A6E342;
$verde7A : #5FC844;

$black1 : #354342;




// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
$sora : 'Sora', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
$workSans : 'Work Sans', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;600;800&display=swap');
$urbanist : 'Urbanist', sans-serif;


$blancoAIcrop : #F8F7F5;