@import "../../../../mixin";
@import "../../../../variables";

.cont_greenhouses{
    width: 100%;

    .botones_user{
        display: flex;
        justify-content: end;
        margin-bottom: 5px;
        gap: 20px;
        button{
            padding: 7px;
            border: 2px solid #CDCDCD;
            border-radius: 5em;
            background-color: transparent;
            transition: 0.2s;
        }
        button:hover{
            background-color: #CDCDCD;
            filter: invert(1);
        }
        img{
            width: 35px;
            height: 35px;
        }
        .config_invernadero{
            width: 30px;
            padding: 0 3px;
            box-sizing:content-box;
            height: 30px;
        }
    }
    .header_greenhouses{
        width: inherit;
        .title_row{
            display: flex;
            // flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            p{
                margin-top: 20px;
                text-align: start;
            }
            h1{
                letter-spacing: 0.105em;
                font-family: $workSans;
                font-weight: 500;
                font-size: 45px;
            }
            .input_sect{
                display: flex;
                gap: 5px;
                width: fit-content;
                .search_add{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 12px;
                    border: none;
                    border-radius: 2em;
                    font-family: $sora;
                    background-color: $verdeInput;
                    width: 248px;
                    height: 50px;
                    letter-spacing: 0.02em;
                    color: $verdeInput2;
                    input{
                        border: none;
                        background-color: transparent;
                    }
                    input::placeholder{
                        letter-spacing: 0.02em;
                        color: $verdeInput2;
                    }
                    input:focus, textarea:focus, select:focus{
                        outline: none;
                    }
                    img{
                        width: 27px;
                        padding-right: 5px;
                    }
                }
                button{
                    transition: 0.2s;
                }
                button:hover{
                    background-color: rgb(80, 80, 80);
                }
            }
        }
        p{
            margin-top: 10px;
            letter-spacing: 0.12em;
            font-family: $sora;
            color: #868686;
        }
    }

    main{
        h2{
            margin-top: 60px;
            letter-spacing: 0.1em;
            color: $grisCard;
            font-weight: 400;
        }
        .greenhouse_list{
            margin: 50px 0;
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
        }
    }
}

@media(max-width: 1300px){
    .cont_greenhouses{
        // height: 100vh;
        .header_greenhouses{
            .title_row{
                .input_sect{
                    flex-direction: column;
                }
            }
        }
    }
}

@media(max-width: 720px){
    .cont_greenhouses{
        text-align: center;
        .botones_user{
            justify-content: space-around;
        }
        .header_greenhouses{
            .title_row{
                flex-direction: column;
                text-align: center;
                width: 100%;
                h1{
                    font-size: 7vw;
                }
                .input_sect{
                    margin-top: 20px;
                    align-items: center;
                    // flex-direction: row;
                    width:100%;
                    .search_add{
                        width: 80vw;
                    }
                }
            }
        }

        main{
            .greenhouse_list{
                flex-direction: column;
                align-items: center;
            }
        }
    }
}
@media(max-width: 570px){
    .cont_greenhouses{
        
        .header_greenhouses{
            .title_row{
                flex-direction: column;
                text-align: center;
                h1{
                    font-size: 10vw;
                }
                .input_sect{
                    flex-direction: column;
                    width: auto;
                }
            }
        }
        main{
            .greenhouse_list{
                width: 100%;
                display:flex;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: center;
            }
        }
    }
}