@import "../../../mixin";
@import "../../../variables";

.cont_measure{
    .alerta{
        .alerta_cont{
           display: flex;
           align-items: center;
           gap: 10px;
           p{
            margin: 0;
            color: #D34646;
            font-family: $sora;
           }
           .cerrar{
            width: 25px;
            height: 25px;
            transition: 0.2s;
           }
           .cerrar:hover{
            filter:grayscale(1);
           }
        }
        
    }
    .botones_user{
        display: flex;
        justify-content: space-between;

        button{
            padding: 7px;
            border: 2px solid #CDCDCD;
            border-radius: 5em;
            background-color: transparent;
            transition: 0.2s;
        }
        button:hover{
            background-color: #CDCDCD;
            filter: invert(1);
        }
        img{
            width: 35px;
            height: 35px;
        }
    }
    .title_row{
        display: flex;
        align-items: center;
        gap: 20px;
        hr{
            height: 2px;
            width: 100%;
            border: 3px solid #FFFFFF;
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
        }
        h1{
            letter-spacing: 0.105em;
            font-family: $workSans;
            font-weight: 500;
            font-size: 45px;
        }
    }
    .main_measure{
        display: flex;
        gap: 40px;
        margin-top: 70px;

        // CARTAS IZQUIERDA
        .cards_izq{
            font-family: $sora;
            .card_measure{
                padding: 25px;
                background: linear-gradient(114.08deg, #E9AFAF -2.58%, rgba(233, 175, 175, 0) 100%);
                border-radius: 11px;
                width: 20rem;
                height: 14rem;
                color: white;
                .medida{
                    margin: 20px 0;
                    font-size: 28px;
                    font-weight: 500;
                    letter-spacing: 0.13em;
                    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
                }
            }
            h3{
                letter-spacing: 0.18em;

                font-weight: 500;
                font-size: 21px;
            }

            .card_maxMin{
                margin-top: 30px;
                padding: 25px;
                border-radius: 11px;
                background-image: url('../../../../public/assets/images/cards/maxMin_bg.png');background-position: center;
                background-size: cover;
                color: white;
                span{
                    font-size: 25px;
                }
                img{
                    width: 200px;
                    position: relative;
                    top: 25px;
                }
            }
        }

        // SECCIÓN CHART
        .chart_cont{
            .chart{
                background-color: white;
                border-radius: 11px;
                padding: 25px;
                filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
            }
        }
    }
}

@media (max-width: 1199px){

}

@media (max-width: 700px){
    .cont_measure{
        .botones_user{
            flex-direction: column-reverse;
            align-items: center;
            gap: 20px;
        }
        .alerta{
            .alerta_cont{
                justify-content: center;
                flex-direction: column;
                padding: 20px;
                background-color: rgb(238, 238, 238);
                border-radius: 2em;
                margin-bottom: 20px;
                p{
                    text-align: center;
                }
            }
        }

        .title_row{
            hr{
                display: none;
            }
        }

        .main_measure{
            flex-direction: column;
            .cards_izq{
                .card_measure{
                    width: 100%;
                }
            }
        }
    }
}