@import "../../../mixin";
@import "../../../variables";

.firstSection {
    flex-direction: column;
}
.title3{
    font-size: 72px;
    font-family: $sora;
    letter-spacing: 0.2em;
    font-weight: bold;
}
.puntoFinal{
    font-size: 212px;
    font-family: $urbanist;
    color: $verde7A;
}
.bloqueParr{
    p{
        font-family: $workSans;
        font-size: 22px;
        font-weight: 100;
    }
}  
.special{
    text-decoration: none;
    color: white;
    
}  
.iconico{
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
     filter: invert(100%);
     width: 30px;
     height: 30px;
       
}
.specialTwo{
    font-size: 22px !important;
    letter-spacing: 0.2em !important;
    
}
.contenedorEmail{
    width: 40%;
    margin-top: 2%;
}

//-------------RESPONSIVE -----------------//

//TABLET
@media (max-width: 870px){
    .firstSection{
        display: flex;
        flex-direction: column;
        margin: 0 !important;
        margin: none;
        text-align: center;
        justify-content: center;
        .title3{
            font-size: 48px;
        }
    }
    .contenedorEmail{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
}

//SMARTPHONE
@media (max-width: 520px){
    .firstSection{
        .title3{
            font-size: 42px;
            display: flex;
            flex-direction: row;
            margin: 5%;
        }
        .puntoFinal{
            font-size: 95px;
        }
        .bloqueParr{
            margin: 5%;
        }
    }
    .contenedorEmail{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        .specialTwo{
            font-size: 18px;
            margin: 8%;
        }
        .two{
            font-size: 18px !important;
            .upp{
               display: flex;
               margin-left: 42%;
            }
        }
    }
}
    




