@import "../../../components/variables";

.error{
    background-image: url("../../../../public/assets/GrowForest_pic3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

    .main{
        padding-bottom: 150px;
        .title{
            font-family: $urbanist;
            font-size: 80px;
            opacity: 0.8;
            color: white;
            background-color: black;
            box-shadow: 0px 80px 280px 200px black, 0px -40px 290px 200px black ;
            transition: 0.8s;
            h1{
                font-size: 80px;
                letter-spacing: 0.02em;
                font-weight: 600;
                transition: 0.6s;
            }

            h2{
                letter-spacing: 0.25em;
                font-size: 27px;
                font-weight: 100;
                opacity: 0.7;
            }
        }

        .title:hover{
            opacity: 0.9;

            h1{
                letter-spacing: 0.08em;
            }
        }
    }
}