@import "../../mixin";
@import "../../variables";

.measure_cardCont{
    width:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $sora;
    color: white;
    letter-spacing: 0.12em;
    text-align: start;
    hr{
        margin: 10px;
        width: 150px;
        border: 2px solid black;
    }
}
h3{
    font-size: 23px;
}


.temperature_card{
    background-image: url('../../../public/assets/images/cards/temperature_card_bg.png');
    background-position: center;
    // background-size: cover;
    width: 24rem;
    height: 15rem;
    border-radius: 1em;
    padding: 35px;
    p{
        margin-top: 25px;
        font-size: 33px;
        font-weight: 600;
    }
}

.co2_card{
    background-image: url('../../../public/assets/images/cards/co2_card_bg.png');
    background-position: center;
    width: 24rem;
    height: 15rem;
    border-radius: 1em;
    padding: 35px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
    // display: flex;

    img{
        width: 120px;
    }
    p{
        font-size: 33px;
        font-weight: 600;
        text-align: center;
        line-height: 0.9;
        margin: 0;
    }
    .cuadro{
        background: rgba(63, 75, 69, 0.64);
        box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(2px);
        border-radius: 2em;
        width: 170px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 150px;
        bottom: 60px;
        margin: 0 !important;
    }
}

.humidity_card{
    background-image: url('../../../public/assets/images/cards/humidity_card_bg.png');
    background-position: center;
    width: 24rem;
    height: 15rem;
    border-radius: 1em;
    padding: 35px;
    display: flex;
    img{
        width: 170px;
    }
    .humidity_body{
        margin-top: 100px;
        text-align: end;
    }
    p{
        font-size: 33px;
        font-weight: 600;
        margin: 0;
    }
}

.sunlight_card{
    background-color: white;
    width: 24rem;
    height: 15rem;
    border-radius: 1em;
    padding: 35px 32px;
    display: flex;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
    img{
        width: 170px;
    }
    h3{
        color: #EDB6A4;
    }
    p{
        font-size: 33px;
        font-weight: 600;
        margin: 0;
        text-align: center;
        line-height: 0.9;
    }
    .cuadro{
        background-image: url('../../../public/assets/images/cards/humidity_card_bg.png');
        border-radius: 2em;
        width: 170px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.25);
    }
}

.ph_card{
    background-image: url('../../../public/assets/images/cards/ph_card_bg.png');
    background-position: center;
    width: 24rem;
    height: 15rem;
    border-radius: 1em;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    p{
        font-size: 33px;
        font-weight: 600;
        margin: 0;
    }
    img{
        width: 170px;
    }
    .ph_body{
        margin-top: 100px;
    }
}

.conductivity_card{
    background-color: white;
    width: 24rem;
    height: 15rem;
    border-radius: 1em;
    padding: 35px 32px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
    h3{
        color: #FFDF8E;
    }
    img{
        width: 150px;
    }
    .conductivity_body{
        display: flex;
        justify-content: space-between;
    }
    .cuadro{
        background-image: url('../../../public/assets/images/cards/humidity_card_bg.png');
        border-radius: 2em;
        width: 170px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.25);
        p{
            font-size: 33px;
            font-weight: 600;
            margin: 0;
            text-align: center;
            line-height: 0.9;
        }
    }
}

.leafhumidity_card{
    background-image: url('../../../public/assets/images/cards/leafhumidity_card_bg.png');
    background-position: center;
    width: 24rem;
    height: 15rem;
    border-radius: 1em;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .leafhumidity_body{
        display: flex;
        justify-content: space-between;
    }
    img{
        width: 160px;
    }
    p{
        font-size: 33px;
        font-weight: 600;
        margin: 0;
        margin-top: 90px;
    }
}

@media(max-width:720px){

}

@media (max-width:450px){
    .measure_cardCont{
        width: 10vw;
    }
    .responsive_card{
        width: 80vw;
    }
    .co2_card{
        .cuadro{
            left: 0;
            bottom: 60px;
            width:min-content;
            margin: 0 !important;
            padding: 20px 30px;
        }
    }
}