@import "../../mixin";
@import "../../variables";

.bl_wh{
    filter: grayscale(1);
}

.measure_cardCont{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $sora;
    color: white;
    letter-spacing: 0.12em;
    text-align: start;
    cursor: pointer;
    hr{
        margin: 10px;
        width: 150px;
        border: 2px solid black;
    }
    h3{
        font-size: 23px;
    }
    .alarma_measure{
        width: 0;
        height: 0;
        position: relative;
        bottom: 10px;
        right: 18px;
        z-index: 3;
        // top: 200px;
        // right: 15px;
        img{
            width: 35px;
        }
    }
}


.temperature_card{
    background-image: url('../../../public/assets/images/cards/temperature_card_bg.png');
    background-position: center;
    width: 24rem;
    height: 15rem;
    border-radius: 1em;
    padding: 35px;
    display: flex;
    gap: 25px;
    p{
        margin-top: 25px;
        font-size: 33px;
        font-weight: 600;
    }
    img{
        width: 70px;
        height: fit-content;
    }
    
}

.co2_card{
    background-image: url('../../../public/assets/images/cards/co2_card_bg.png');
    background-position: center;
    width: 24rem;
    height: 15rem;
    border-radius: 1em;
    padding: 35px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
    display: flex;


    img{
        width: 120px;
        height: fit-content;
    }
    p{
        font-size: 33px;
        font-weight: 600;
        text-align: center;
        line-height: 0.9;
        margin: 0;
    }
    .cuadro{
        background: rgba(63, 75, 69, 0.64);
        box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(2px);
        border-radius: 2em;
        width: 170px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 20px;
        top: 40px;
        margin: 0 !important;
    }
    // .alarma_measure{
    //     width: 0;
    //     height: 0;
    //     position: relative;
    //     top: 155px;
    //     img{
    //         width: 30px;
    //     }
    // }
}

.humidity_card{
    background-image: url('../../../public/assets/images/cards/humidity_card_bg.png');
    background-position: center;
    width: 24rem;
    height: 15rem;
    border-radius: 1em;
    padding: 35px;
    display: flex;
    
    img{
        width: 170px;
    }
    .humidity_body{
        margin-top: 100px;
        text-align: end;
    }
    p{
        font-size: 33px;
        font-weight: 600;
        margin: 0;
    }
    .alarma_measure{
        width: 0;
        height: 0;
        position: relative;
        top: 155px;
        right: 20px;
        img{
            width: 30px;
        }
    }
}

.sunlight_card{
    background-color: white;
    width: 24rem;
    height: 15rem;
    border-radius: 1em;
    padding: 35px 32px;
    display: flex;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
    img{
        width: 170px;
    }
    h3{
        color: #EDB6A4;
    }
    p{
        font-size: 33px;
        font-weight: 600;
        margin: 0;
        text-align: center;
        line-height: 0.9;
    }
    .cuadro{
        background-image: url('../../../public/assets/images/cards/humidity_card_bg.png');
        border-radius: 2em;
        width: 170px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.25);
    }
    .alarma_measure{
        width: 0;
        height: 0;
        position: relative;
        top: 155px;
        right: 50px;
        img{
            width: 30px;
        }
    }
}

.ph_card{
    background-image: url('../../../public/assets/images/cards/ph_card_bg.png');
    background-position: center;
    width: 24rem;
    height: 15rem;
    border-radius: 1em;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    p{
        font-size: 33px;
        font-weight: 600;
        margin: 0;
    }
    img{
        width: 170px;
    }
    .ph_body{
        margin-top: 100px;
    }
    .alarma_measure{
        width: 0;
        height: 0;
        position: relative;
        top: 155px;
        right: 20px;
        img{
            width: 30px;
        }
    }
}

.conductivity_card{
    background-color: white;
    width: 24rem;
    height: 15rem;
    border-radius: 1em;
    padding: 35px 32px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
    h3{
        color: #FFDF8E;
    }
    img{
        width: 150px;
    }
    .conductivity_body{
        display: flex;
        justify-content: space-between;
    }
    .cuadro{
        background-image: url('../../../public/assets/images/cards/humidity_card_bg.png');
        border-radius: 2em;
        width: 170px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.25);
        p{
            font-size: 33px;
            font-weight: 600;
            margin: 0;
            text-align: center;
            line-height: 0.9;
        }
    }
    .alarma_measure{
        width: 0;
        height: 0;
        position: relative;
        top: 120px;
        right: 25px;
        img{
            width: 30px;
        }
    }
}

.leafhumidity_card{
    background-image: url('../../../public/assets/images/cards/leafhumidity_card_bg.png');
    background-position: center;
    width: 24rem;
    height: 15rem;
    border-radius: 1em;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .leafhumidity_body{
        display: flex;
        justify-content: space-between;
    }
    img{
        width: 160px;
    }
    p{
        font-size: 33px;
        font-weight: 600;
        margin: 0;
        margin-top: 90px;
    }
    .alarma_measure{
        width: 0;
        height: 0;
        position: relative;
        bottom: 40px;
        left: 290px;
        img{
            width: 30px;
        }
    }
}

@media(max-width:720px){

}


// SMARTPHONE
@media (max-width:450px){
    .measure_cardCont{
        width: 10vw;

        h3{
            font-size: 6vw;
        }
    }
    .responsive_card{
        width: 80vw;
    }

    .temperature_card{
        gap: 0;
        .alarma_measure{
            width: 0;
            height: 0;
            position: relative;
            top: 30px;
            left: 125px;
            img{
                width: 30px;
            }
        }
        .responsive_img{
            width: 16vw;
            height: fit-content;
        }
    }
    
    .humidity_card{
        padding: 25px;
        .responsive_img{
            width: 35vw;
            height: fit-content;
        }
        p{
            font-size: 8vw;
        }
        .alarma_measure{
            width: 0;
            height: 0;
            position: relative;
            top: 155px;
            right: 50px;
            img{
                width: 30px;
            }
        }
    }
    .co2_card{
        display: flex;
        justify-content: space-around;
        padding: 25px;
        .cuadro{
            left: 0;
            bottom: 60px;
            width:min-content;
            padding: 20px 30px;
        }
        .responsive_img{
            width: 30vw;
            height: fit-content;
        }
        p{
            font-size: 8vw;
        }
        .alarma_measure{
            width: 0;
            height: 0;
            position: relative;
            top: 155px;
            right: 150px;
            img{
                width: 30px;
            }
        }
    }
    .sunlight_card{
        padding: 25px;
        justify-content: space-between;
        align-items: center;
        .responsive_img{
            width: 35vw;
            height: fit-content;
        }
        .cuadro{
            width:min-content;
            padding: 15px 25px;
        }
        p{
            font-size: 8vw;
        }
    }
    .ph_card{
        .responsive_img{
            width: 40vw;
            height: fit-content;
        }
    }
    .conductivity_card{
        padding: 25px;
        .responsive_img{
            width: 35vw;
            height: fit-content;
        }
        .cuadro{
            padding: 0 5px;
            p{
                font-size: 8vw;
            }

        }
    }
    .leafhumidity_card{
        .responsive_img{
            width: 35vw;
            height: fit-content;
        }
        p{
            font-size: 8vw;
        }
    }
}