@import "../../mixin";
@import "../../variables";

.cont_admin{
    width: 100%;

    .botones_admin {
        display: flex;
        justify-content: end;
        margin-bottom: 15px;
        gap: 20px;
        button{
            padding: 7px;
            border: 2px solid #CDCDCD;
            border-radius: 5em;
            background-color: transparent;
            transition: 0.2s;
        }
        button:hover{
            background-color: #CDCDCD;
            filter: invert(1);
        }
        img{
            width: 35px;
            height: 35px;
        }
    }

    .header_admin {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: $sora;
        letter-spacing: 0.02em;
        h1{
            letter-spacing: 0.105em;
            font-family: $workSans;
            font-weight: 500;
            font-size: 45px;
        }
        .search {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $verdeInput;
            border-radius: 2em;
            padding: 10px 20px;
            input{
                border: none;
                background-color: transparent;
            }
            input::placeholder{
                letter-spacing: 0.02em;
                color: $verdeInput2;
            }
            input:focus, textarea:focus, select:focus{
                outline: none;
            }
            h5 {
                margin: 0;
                color: gray;
                cursor: pointer;
            }

        }
    }

    p{
        font-family: $sora;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.12em;
        color: #868686;
    }

    .main_admin {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 50px;
        .card_user {
            display: flex;
            flex-direction: column;
            width: fit-content;
            align-items: center;
            section{
                background: url("../../../public/assets/images/cards/card_admin.png");
                background-position: center;
                background-size: cover;
                width: 22rem;
                height: 11rem;
                border-radius: 11px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor:pointer;
                filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.11));
                .info_user{
                    text-align: center;
                    background: rgba(255, 255, 255, 0.6);
                    backdrop-filter: blur(2px);
                    border-radius: 15px;
                    padding: 15px 15px;
                    margin-bottom: 20px;
                    width: 18rem;
                    h5{
                        font-family: $urbanist;
                        margin: 0;
                        font-weight: 600;
                        letter-spacing: 0.05em;
                    }
                    p{
                        margin: 0;
                        font-size: 14px;
                    }
                    .num_gh{
                        font-size: 11px;
                    }
                }
                .disable{
                    width: 30px;
                    position: fixed;
                    bottom: 10px;
                    right: 20px;
                    cursor: pointer;
                }
            }
            hr{
                opacity: 0.66;
                height: 5px;
                border: 2px solid #A8ACA7;
                box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
                width: 10rem;
            }
        }

        .disabledCard{
            filter: grayscale(1);
        }
    }
    .popoverExitCollab{
        // background-color: rgba(0, 0, 0, 0.11);
        // div{
            // background-color: rgba(26, 44, 23, 0.32);
            // backdrop-filter: blur(2px);
            // border-radius: 21px;
        // }
        .css-3bmhjh-MuiPaper-root-MuiPopover-paper{
            background: rgba(63, 75, 63, 0.356);
            border-radius: 21px;
            opacity: 50%;
            
        }
        .popover_sect{
            background: rgba(78, 78, 78, 0.32);
            backdrop-filter: blur(1px);
            border-radius: 21px;
            width: 20vw;
            min-width: 290px;
            padding: 10px;
            text-align: center;
            font-family: $inter;
            h4{
                letter-spacing: 0.07em;
                font-weight: 200;
                font-size: 18px;
                margin-bottom: 20px;
                background-color: black;
                padding: 20px 10px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 21px;
                color: white;
            }
            .botones_pop{
                display: flex;
                // justify-content: center;
                justify-content: space-between;
                // gap: 20px;
                align-items: center;
                padding: 0px 20px;
            }
            .botonCrops{
                border-radius: 0.5em;
                border: none;
                transition: 0.2s;
                background-color: transparent;
                color: white;
                font-size: 16px;
            }
            img{
                cursor: pointer;
                filter: grayscale(1);
                transition: 0.2s;
            }
            img:hover{
                filter: grayscale(0);
            }
        
            .atras{
                border-radius: 5em;
                padding: 5px;
                background-color: rgb(214, 208, 208);
                transition: 0.2s;
                filter: invert(1);
                transition: 0.2s;
            }
            .atras:hover{
                filter: invert(0);
            }
      
            button:hover{
                // background-color: rgb(87, 87, 87);
                text-decoration: underline;
                // color: black;
            }
        }
    }
}

  //----------RESPONSIVE---------------//

  //TABLET

  @media (max-width: 870px){
    .cont_admin{
        text-align: center;
        .botones_admin{
            display: flex;
            justify-content: center !important;
            
        }
        .titleMini{
            font-size: 40px !important;
        }
        .header_admin{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            .search{
                margin-bottom: 20px;
                // width: 100%;
            }
            
        }
        .main_admin{
            justify-content: center;
        }
    }
  }

  //SMARTPHONE

  @media (max-width: 520px){
        .botones_admin{
            display: flex;
            justify-content: center !important;
            
        }
        .titleMini{
            font-size: 40px !important;
        }
        .header_admin{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
      
  }
