@import "../../mixin";
@import "../../variables";

.contNav_pPal{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    // width:inherit;
    .white_cont{
        width: inherit;
        min-width: fit-content;
        background-color: $whiteMain;
        border-radius: 53px;
        padding: 38px 30px 40px 48px;
        position: fixed;
        // overflow: hidden;
        height: 100%;
        .padree{
            overflow-y: auto;
            height: 100%;
            padding-right: 25px;
        }
        .padree::-webkit-scrollbar{
            width: 7px;
        }
        .padree::-webkit-scrollbar-thumb {
            background-color: #000000; /* color de la barra de scroll */
            border-radius: 5px; /* radio de los bordes de la barra de scroll */
          }
    }

    .outlet_cont{
        border-radius: 75px;
        outline: 35px solid $whiteMain;
        box-shadow: -37px 3px 7px -1px rgba(0, 0, 0, 0.25);
    }
}

// TABLET
@media (max-width: 1199px) {
    .contNav_pPal{
        min-height: auto;
        .white_cont{
            width:100%;
            position:initial;
            height: auto;
            .padree{
                overflow-y: hidden;
                height: auto;
            }
        }
    }
}
@media (max-width: 500px){
    .contNav_pPal{
        .white_cont{
            padding: 5vw;
            .padree{
                padding-right: 0;
            }
        }
    }
}