@import "../../../mixin";
@import "../../../variables";

.contNav_pPal{
    min-height: 100vh;
    display: flex;
    flex-direction: row;

    .white_cont{
        width:100%;
        background-color: white;
        border-radius: 53px;
        z-index: 2;
    }

    .outlet_cont{
        border-radius: 75px;
        outline: 35px solid white;
        box-shadow: -37px 3px 7px -1px rgba(0, 0, 0, 0.25);
    }
}

@media (max-width: 1200px) {
    .contNav_pPal{
        min-height: auto;
    }
}