@import "../../mixin";
@import "../../variables";

.divMaster{
    font-family: $urbanist;
    // height: 40vh;
    padding: 30px;
    height: fit-content;

    .question {
        color: white;
        text-align: center;
        font-size: 30px;
        // font-weight: 600;
        letter-spacing: 0.14em;
    }
    .botoneraInv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .algo{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    
    .botonInv{
        border-radius: 2em;
        border: none;
        width: 17vw;
        min-width: 300px;
        font-size: 17px;
        padding: 30px 20px;
        transition: 0.2s;
        font-size: 19px;
        // font-weight: 600;
    }
    
    .botonInv:hover{
        background-color: #84966d;
        color: #e3f3e0;
        font-weight: 400;
        transition: 0.2;
    }
    .titular{
        font-weight: bold;
        text-align: center;
        margin: 0;
        margin-bottom: 30px;
        color: white;
    }
    .note{
        outline: none;
        border: none;
        margin: 0;
        border-radius: 2em;
        padding: 40px 15px;
        width: 17vw;
        min-width: 300px;
        background-color: black;
        color: white;
    }
}
.accept{
    display: flex;
    justify-content: center;
    align-items: center;
}


//-------------RESPONSIVE--------------//

//TABLET
@media (max-width: 870px){
    .divMaster{
        // height: 40vh;
    }
    .botonInv{
        width: 48vw;
        
    }
    .PpalInp{
        input{
            margin: 4%;
        }
    }
 
    
}

//SMARTPHONE
@media (max-width: 520px){
    .botonInv{
        width: 48vw;
        height: 5vh;
    }
    .coll{
        height: 10vh;
        width: 48vw;
    }
}