
.secPpal{
    flex-direction: column;
}
div.modal-content{
    background-color: rgba(0, 0, 0, 0.494);
    border-radius: 2em;
}
.note{
    width: 18vw;
    height: 5vh;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}
.botoneraCrops{
    display: flex;
    justify-content: center;
}
.botonCrops{
    width: 12vw;
    height: 6vh;
    margin: 5px;
    align-items: center;
    border-radius: 25px;
    background-color: #5FC844;
    border: none;
    font-size: 20px;
    font-weight: 400;
}

.botonCrops:hover{
    background-color: green;
    color: white;
}
.botonCrops2{
    width: 12vw;
    height: 6vh;
    margin: 5px;
    align-items: center;
    border-radius: 25px;
    background-color: #c8a344;
    border: none;
    font-size: 20px;
    font-weight: 400;
}
.botonCrops2:hover{
    background-color: rgb(128, 0, 0);
    color: white;
}

