@import "../../variables";

.modalCropConfirm{

    div.modal-content{
        background-color: rgba(0, 0, 0, 0.494);
        border-radius: 2em;
        backdrop-filter: blur(3px);
    }

    .divMasterCrop{
        padding: 25px 25px;
        text-align: center;
        .secPpal{
            flex-direction: column;
            font-family: $urbanist;
            display: flex;
            align-items: center;
    
            h1{
                letter-spacing: 0.1em;
                font-size: 24px;
            }
            p{
                // background-color: rgb(15, 15, 15);
                // font-size: 20px;
                font-weight: 600;
                // text-align: justify;
                color: rgba(226, 43, 58, 0.911);
            }
        }
        .botoneraCrops{
            display: flex;
            justify-content: space-between;
        }
        .botonCrops{
            // width: 5vw !important;
            height: 6vh;
            margin: 15px;
            align-items: center;
            border-radius: 2em;
            background-color: rgb(51, 51, 51);
            color: white;
            border: none;
            font-size: 20px;
            font-weight: 400;
            transition: 0.2s;
        }
        
        .botonCrops:hover{
            background-color: rgb(26, 23, 23);
            color: white;
        }

        .aceptar{
            background-color: #b2c26b;
            padding: 0 30px;
        }

        .cancelar{
            width: 6vh;
            border-radius: 5em;
        }
        
        .aceptar:hover{
            background-color: rgb(185, 81, 81);
            color: white;
        }
        
        .paratext{
            font-size: 24px;
            color: white;
            font-weight: 300;
        }
        
        .magicdiv{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    }