.modalCloseAlarm{
    div.modal-content{

    }
    .modal{
        // background-color: red;
        // .modalCont.mod{
        //     background-color: red;
        // }
    }

    .noseque{
        background-color: lightgrey;
        display: flex;
        flex-direction: column;
    }
}