@import "../../../../variables";

.cards_measures{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 60px;
}

.cards_crop{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    font-family: $sora;
    color: #4D4D4D;
    letter-spacing: 0.12em;
    .card_crop{
        background-image: url("../../../../../public/assets/images/cards/card_crop.png");
        background-size:cover;
        background-position:bottom;
        background-repeat: no-repeat;
        border-radius: 11px;
        padding: 35px 30px 30px 30px;
        width: 25.5rem;
        height: 18rem;
        p{
            font-size: 14px;
            margin: 10px 0;
        }
        .buttons{
            display: flex;
            justify-content: space-between;
            align-items: end;
            // position: relative;
            // top: 50px;
            // left: 20px;
            gap: 10px;
            .harvest{
                border-radius: 0.5em;
                filter:sepia();
                box-shadow: 1px 2px 3px rgba(90, 90, 90, 0.24);
            }
            img{
                width: 35px;
                cursor: pointer;
            }
        }
    }
    .disabledGreenhouse{
        filter: grayscale(1);
    }
}

@media(max-width: 720px){
    .cards_measures{
        flex-direction: column;
        align-items: center;
    }
    .cards_crop{
        flex-direction: column;
        align-items: center;
    
    }
}


@media(max-width: 450px ){
    .cards_crop{
        flex-direction: column;
        align-items: center;
        .card_crop{
            width: 80vw;
        }
    }
}